<div class="batch_form" id="batch_0">
  <%= label_tag :amount, "Amount", class: 'mrgn_lft_3 amount_label'%>
  <%= select_tag 'amount', options_for_select((['Please select'] + JSON.parse(ENV['AMT'])).map{|x| [x,x] },
    selected: 'Please select', disabled: 'Please select'),
    class: 'amount_select_field mrgn_lft_3', name: "batch[amount][]" %>
    <%= label_tag :count, "Count", class: 'mrgn_lft_3 count_label' %>
    <%= number_field_tag 'count1',nil, :class => "count_text_field mrgn_lft_3", name: "batch[count][]" %>
    <%= image_submit_tag("plus.png", alt: "Edit Entry", id: "add", class: 'plus_icon_style' ) %>
    <%= label_tag :add, "Add", class: 'text-color add_label' %>
  </div>

  
  <div class="mrgn_top_2">
    <%= label_tag :total_amount, "Total Amount", class: 'mrgn_lft_3 amount_label'%>
    <%= label_tag :total_amount, 0, class: 'mrgn_lft_3 amount_label', id: 'total_batch_amt' %>  
    <%= label_tag :total_count, "Total Count", class: 'mrgn_lft_8 count_label'%>
    <%= label_tag :total_count, 0, class: 'mrgn_lft_3 count_label', id: 'total_batch_count' %>  
  </div>


  <script>
    $(document).ready(function(){
      initialize_add();
      initialize_remove();
    });

    function check_NaN(val){
      return isNaN(val) ? 0 : val
    }

    function onAdd(current_count, current_amount){
     var total_count = parseInt($('#total_batch_count').text()) + check_NaN(current_count)
     var total_amount = parseInt($('#total_batch_amt').text()) + check_NaN(current_count) * check_NaN(current_amount);
     $('#total_batch_amt').text(total_amount);
     $('#total_batch_count').text(total_count);
   }

   function onRemove(current_count, current_amount){
    var total_count = parseInt($('#total_batch_count').text()) - check_NaN(current_count)
    var total_amount = parseInt($('#total_batch_amt').text()) - check_NaN(current_count) * check_NaN(current_amount);
    $('#total_batch_amt').text(total_amount);
    $('#total_batch_count').text(total_count);
  }


  function initialize_add()
  {
    $(document).on('click',"#add",function(){
      if ($('.count_text_field:last').val() == ""){
        $('.error_text').remove();
        $('#add').after('<div class="error_text mrgn_lft_28 c_red">Count can"t be blank</div>');
        return false;
      }
      else
      {
        var batch_count = $('.batch_form').length;

        var current_count  = parseInt($('.batch_form:last .count_text_field').val());
        var current_amount = parseInt($('.batch_form:last .amount_select_field').val());
        onAdd(current_count, current_amount)
        $('.batch_form:last .count_text_field').after(
          '<input alt="Edit Entry" type="image" class="remove_icon remove_icon_style" src="/assets/cross.png"><label class="text-color remove_label" for="remove">Remove</label>'
          );
        $('.batch_form:last').after(
          '<div class="batch_form mrgn_top_1">' + $('.batch_form:last').html() + '</div>'
          );
        $('.batch_form:last').attr('id','batch_'+batch_count);
        $('.batch_form:last .count_text_field').attr('id', 'count'+batch_count);
        $('.error_text').remove();
        $('.batch_form:last .remove_icon').remove();
        $('.batch_form:last .remove_label').remove();
        $('.batch_form:nth-child('+ (batch_count) +') .add_label').remove();
        $(this).remove();
        $('.batch_form:nth-child('+(batch_count)+') .count_text_field').prop("readonly", true);
      }
    });
  }

  function initialize_remove()
  {
    $(document).on('click', '.remove_icon', function(e) {
      var current_count  = parseInt($(this).parent().find('.count_text_field').val());
      var current_amount = parseInt($(this).parent().find('.amount_select_field').val());
      onRemove(current_count, current_amount);
      $(this).parent().remove();
    });
  }
</script>