<div class="batch_form" id="batch_0">
  <%= label_tag :amount, "Amount", class: 'mrgn_lft_3 amount_label'%>
  <%= select_tag 'amount', options_for_select((['Please select'] + JSON.parse(ENV['AMT'])).map{|x| [x,x] },
    selected: 'Please select', disabled: 'Please select'),
    class: 'amount_select_field mrgn_lft_3', name: "batch[amount][]" %>
  <%= label_tag :count, "Count", class: 'mrgn_lft_3 count_label' %>
  <%= number_field_tag 'count1',"", :class => "count_text_field mrgn_lft_3", name: "batch[count][]" %>
  <%= image_tag("plus.png", size: "16x10", alt: "Edit Entry", id: "add" )%>
  <%= label_tag :add, "Add", class: 'text-color add_label' %>
</div>


<script>
  $(document).ready(function(){
    initialize_add();
    initialize_remove();
  });

  function initialize_add()
   {
    $(document).on('click',"#add",function(){
      if ($('.count_text_field:last').val() == ""){
        $('.error_text').remove();
        $('#add').after('<div class="error_text mrgn_lft_28 c_red">Count can"t be blank</div>');
      }
      else
      {
        var batch_count = $('.batch_form').length;
        $('.batch_form:last .count_text_field').after(
                      '<img alt="Edit Entry" class="remove_icon icon_mrgn" src="/assets/cross.png" width="13" height="10"><label class="text-color remove_label" for="remove">Remove</label>'
                       );
        $('.batch_form:last').after(
                      '<div class="batch_form mrgn_top_1">' + $('.batch_form:last').html() + '</div>'
                       );
        $('.batch_form:last').attr('id','batch_'+batch_count);
        $('.batch_form:last .count_text_field').attr('id', 'count'+batch_count);
        $('.error_text').remove();
        $('.batch_form:last .remove_icon').remove();
        $('.batch_form:last .remove_label').remove();
        $('.batch_form:nth-child('+ (batch_count) +') .add_label').remove();
        $(this).remove();
        $('.batch_form:nth-child('+(batch_count)+') .count_text_field').prop("readonly", true);
      }
    });
  }

  function initialize_remove()
  {
    $(document).on('click', '.remove_icon', function(e) {

      $(this).parent().remove();

    });
  }
</script>