<div class="batch_form">
	<%= label_tag :amount, "Amount", class: 'amount_label'%>
	<%= select_tag 'amount', options_for_select(['Please select'] + JSON.parse(ENV['AMT']).map{|x| [x,x] } ),
	    class: 'amount_select_field', name: "batch[][:amount]"%>
	<%= label_tag :count, "Count", class: 'count_label' %>
	<%= text_field_tag 'count',"", :class => "count_text_field", name: "batch[][:count]" %>
</div>
<div id="add">
<%= image_tag("plus_icon.png", size: "16x10", alt: "Edit Entry")%>
</div>

<script>
	$('#add').click(function(){
    if ($('.count_text_field').value() == "")
    {

    }else {
      $('.batch_form:last').after('<div class="batch_form">' + $('.batch_form:last').html() + '</div>');
    }
	});
</script>