<% if stat == 'daily' %>

	<% collections = Collection.today_created %>
	<% total_amt = collections.map(&:amount).reduce(&:+) %>
	<% total_amt ||= 0 %>
	<tr>
		<td class="col">All</td>
		<td class="col"><%= collections.size %></td>
		<td class="col"><%= total_amt %></td>
	</tr>

	<% @ind_for_daily = Individual.joins(:businesses).where("Date(individuals.created_at) = ?",  Date.today) %>
	<% @businesses_for_daily = Business.today_created %>
	<% ApplicationHelper::AppConfig.json['lga'].each do |lga| %>
		<% ind  =  @ind_for_daily.where("businesses.lga = ?", lga).to_a %>
		<% bus  =  @businesses_for_daily.where(lga: lga) %>
		<% colls = Collection.today_created %>
		<% coll =  colls.where(individual_id: ind.map(&:id)).or(colls.where(collectionable_id: bus.map(&:id)))
		# where("individual_id = ? OR collectionable_id = ?", ind.map(&:id),  bus.map(&:id)) %>
		<% per_amt = coll.map(&:amount).reduce(:+) %>
		<% per_amt ||= 0 %>
		<tr>
			<td class="col"><%= lga %></td>
			<td class="col"><%= coll.count %></td>
			<td class="col"><%= per_amt %></td>
		</tr>
	<% end %>

<% elsif stat == 'monthly' %>

	<% collections = Collection.this_month_created %>
	<% total_amt = collections.map(&:amount).reduce(&:+) %>
	<% total_amt ||= 0 %>
	<tr>
		<td class="col">All</td>
		<td class="col"><%= collections.size %></td>
		<td class="col"><%= total_amt %></td>
	</tr>

	<% @ind_for_month = Individual.joins(:businesses).where("Date(individuals.created_at) >= ? and Date(individuals.created_at) <= ?",  Date.today.at_beginning_of_month, Date.today) %>
	<% @businesses_for_month = Business.this_month_created %>
	<% ApplicationHelper::AppConfig.json['lga'].each do |lga| %>
		<% ind =  @ind_for_month.where("businesses.lga = ?", lga).to_a %>
		<% bus  =  @businesses_for_month.where(lga: lga) %>
		<% coll = collections.where(individual_id: ind.map(&:id)).or(collections.where(collectionable_id: bus.map(&:id)))
		# where("individual_id = ? OR collectionable_id = ?", ind.map(&:id),  bus.map(&:id)) %>
		<% per_amt = coll.map(&:amount).reduce(:+) %>
		<% per_amt ||= 0 %>
		<tr>
			<td class="col"><%= lga %></td>
			<td class="col"><%= coll.size %></td>
			<td class="col"><%= per_amt %></td>
		</tr>
	<% end %>

<% elsif stat == 'yearly' %>
	<% collections = Collection.this_year_created %>
	<% total_amt = collections.map(&:amount).reduce(&:+) %>
	<% total_amt ||= 0 %>
	<tr>
		<td class="col">All</td>
		<td class="col"><%= collections.size %></td>
		<td class="col"><%= total_amt %></td>
	</tr>

	<% @ind_for_year = Individual.joins(:businesses).where("Date(individuals.created_at) >= ? and Date(individuals.created_at) <= ?",  Date.today.at_beginning_of_year, Date.today) %>
	<% @businesses_for_year = Business.this_year_created %>

	<% ApplicationHelper::AppConfig.json['lga'].each do |lga| %>
		<% ind =  @ind_for_year.where("businesses.lga = ?", lga).to_a %>
		<% bus = 	@businesses_for_year.where(lga: lga) %>
		<% coll = collections.where(individual_id: ind.map(&:id)).or(collections.where(collectionable_id: bus.map(&:id)))
		# where("individual_id = ? OR collectionable_id = ?", ind.map(&:id),  bus.map(&:id)) %>
		<% per_amt = coll.map(&:amount).reduce(:+) %>
		<% per_amt ||= 0 %>
		<tr>
			<td class="col"><%= lga %></td>
			<td class="col"><%= coll.size %></td>
			<td class="col"><%= per_amt %></td>
		</tr>
	<% end %>
<% end %>