<% if stat == 'daily' %>
    <% x =  Date.today.to_s%>
    <% y = Date.today.to_s%>
<% elsif stat == 'monthly' %>
    <% x =  Date.today.beginning_of_month.to_s%>
    <% y = Date.today.to_s%>
<% elsif stat == 'yearly' %>
    <% x =  Date.today.beginning_of_year.to_s%>
    <% y = Date.today.to_s%>
<% end %>
<% total_amt = 0 %>
<% count = 0 %>
<% coll_group = ActiveRecord::Base.connection.execute "Select count(*), lga, sum(amount) FROM Collections WHERE (Date(created_at) >= \'#{x}\' AND Date(created_at) <= \'#{y}\')  GROUP BY lga ORDER BY lga"  %>
<% coll_json = coll_group.as_json %>
<% hsh = coll(coll_json) %>
<% coll_json.each do |v| %>
    <% total_amt +=  v['sum']%>
    <% count +=  v['count']%>
<%end%>

<tr>
	<td class="col">All</td>
	<td class="col"><%= number_with_delimiter(count) %></td>
	<td class="col"><%= naira(total_amt) %></td>
</tr>
<% ApplicationHelper::AppConfig.json['lga'].each do |lga| %>
    <% if hsh[lga] %>
        <tr>
          <td class="col"><%= lga %></td>
          <td class="col"><%= number_with_delimiter(hsh[lga]['count']) %></td>
          <td class="col"><%= naira(hsh[lga]['sum']) %></td>
        </tr>
    <% else %>
        <tr>
        <td class="col"><%= lga %></td>
        <td class="col">0</td>
        <td class="col">0</td>
        </tr>
    <%end%>
<% end %>

