<% if stat == 'daily' %>
	<% collections = Collection.today_created %>
	<% total_amt = collections.map(&:amount).reduce(&:+) %>
	<% total_amt ||= 0 %>
<% elsif stat == 'monthly' %>
	<% collections = Collection.this_month_created %>
	<% total_amt = collections.map(&:amount).reduce(&:+) %>
	<% total_amt ||= 0 %>
<% elsif stat == 'yearly' %>
	<% collections = Collection.this_year_created %>
	<% total_amt = collections.map(&:amount).reduce(&:+) %>
	<% total_amt ||= 0 %>
<% end %>

<tr>
	<td class="col">All</td>
	<td class="col"><%= collections.size %></td>
	<td class="col"><%= total_amt %></td>
</tr>
<% ApplicationHelper::AppConfig.json['lga'].each do |lga| %>
	<% coll =  collections.where(lga: lga) %>
	<% per_amt = coll.map(&:amount).reduce(:+) %>
	<% per_amt ||= 0 %>
	<tr>
		<td class="col"><%= lga %></td>
		<td class="col"><%= coll.size %></td>
		<td class="col"><%= per_amt %></td>
	</tr>
<% end %>

