<% if stat == 'daily' %>

	<% collections = Collection.today_created %>
	<% total_amt = collections.map(&:amount).reduce(&:+) %>
	<% total_amt ||= 0 %>
	<tr>
		<td class="col">All</td>
		<td class="col"><%= collections.count %></td>
		<td class="col"><%= total_amt %></td>
	</tr>

	<% ApplicationHelper::AppConfig.json['lga'].each do |lga| %>
	<% ind = Individual.joins(:businesses).where("Date(individuals.created_at) = ? and businesses.lga = ?",  Date.today, lga).to_a %>
	<% businesses = Business.today_created %>
	<% bus = 	businesses.where(lga: lga) %>
	<% coll = Collection.today_created.where("individual_id = ? OR collectionable_id = ?", ind.map(&:id),  bus.map(&:id)) %>
	<% per_amt = coll.map(&:amount).reduce(:+) %>
	<% per_amt ||= 0 %>
	<tr>
		<td class="col"><%= lga %></td>
		<td class="col"><%= coll.count %></td>
		<td class="col"><%= per_amt %></td>
	</tr>
	<% end %>

<% elsif stat == 'monthly' %>

  <% collections = Collection.this_month_created %>
	<% total_amt = collections.map(&:amount).reduce(&:+) %>
	<% total_amt ||= 0 %>
	<tr>
		<td class="col">All</td>
		<td class="col"><%= collections.count %></td>
		<td class="col"><%= total_amt %></td>
	</tr>
	<% ApplicationHelper::AppConfig.json['lga'].each do |lga| %>
		<% ind = Individual.joins(:businesses).where("Date(individuals.created_at) >= ? and Date(individuals.created_at) <= ? and businesses.lga = ?",  Date.today.at_beginning_of_month, Date.today, lga).to_a %>
		<% businesses = Business.this_month_created %>
		<% bus = 	businesses.where(lga: lga) %>
		<% coll = Collection.where("individual_id = ? OR collectionable_id = ?", ind.map(&:id),  bus.map(&:id)) %>
		<% per_amt = coll.map(&:amount).reduce(:+) %>
		<% per_amt ||= 0 %>
		<tr>
			<td class="col"><%= lga %></td>
			<td class="col"><%= coll.count %></td>
			<td class="col"><%= per_amt %></td>
		</tr>
	<% end %>

<% elsif stat == 'yearly' %>
	<% collections = Collection.this_year_created %>
	<% total_amt = collections.map(&:amount).reduce(&:+) %>
	<% total_amt ||= 0 %>
	<tr>
		<td class="col">All</td>
		<td class="col"><%= collections.count %></td>
		<td class="col"><%= total_amt %></td>
	</tr>

	<% ApplicationHelper::AppConfig.json['lga'].each do |lga| %>
		<% ind = Individual.joins(:businesses).where("Date(individuals.created_at) >= ? and Date(individuals.created_at) <= ? and businesses.lga = ?",  Date.today.at_beginning_of_year, Date.today, lga).to_a %>
		<% businesses = Business.this_year_created %>
		<% bus = 	businesses.where(lga: lga) %>
		<% coll = Collection.where("individual_id = ? OR collectionable_id = ?", ind.map(&:id),  bus.map(&:id)) %>
		<% per_amt = coll.map(&:amount).reduce(:+) %>
		<% per_amt ||= 0 %>
		<tr>
			<td class="col"><%= lga %></td>
			<td class="col"><%= coll.count %></td>
			<td class="col"><%= per_amt %></td>
		</tr>
	<% end %>
<% end %>